.venv

# freqtrade
*.sqlite
*.sqlite-shm
*.sqlite-wal
freqtrade/backtest_results/
freqtrade/data/
freqtrade/hyperopt_results/
freqtrade/hyperopts/
freqtrade/logs/
freqtrade/plot/
freqtrade/strategies/*.json
freqtrade/config-*.json


# rust connector
tradingview-rust-connector/target/